h1 {
	color: #FF9C1D;
	font-family: "Lucida Console", Courier, monospace;
	list-style: circle;
}

body {
	width: 800px;
	margin: auto; 
	background-color: #FOFOFO;
}

p {
	color: #4662FF;
	text-align: center;
}

li {
	color: #000000
	font-family: Times, "Times New Roman", Georgia, serif;
	list-style: circle;
}

#monimage{
	display: block;
	margin: auto;
}
body {
	text-align: center;
}

a:link {
 	color: #229954;
	text-decoration:none;
}