h1 {
  color:red
}
h2{
  color:#223ff2
}
body{
  width: 800px;
  margin: auto;
  background-color: #DAFFD1;
  text-align: center;
  color: red;
}
p {
  text-align: justify;
  front-family : "Verdana", avec-sherif;
}
.blublu{
    width: 500px;
}
.erlenmeyer {
  width: 600px;
}
