h1
{
color: rgb(22, 75, 229);
}
body {
  width: 800px;
  margin: auto;
  background-color: rgb( 124, 133, 160 );
}
p {
 text-align: justify;
font-family: "Gill Sans", sans-serif;
color: rgb(16, 8, 85);
}
.titre-special {
  color: rgb(29, 72, 93);
}
p {
   font-family: "Times New Roman", georgia, sans-serif;
   font-size: 24px;
}
img {
	width: 500px;
	height: 250px;
}
