h1{
  color:#ecc6d9;
text-shadow: 5px 5px #cc6699;
}

body {
     width: 900px;
     margin: auto;
     background-color: #FBD0E0;
}

#premiereimage{display : block;
                 margin : left;
                 height : 300px;}

#deuxiemeimage{display : block;
                 margin : left;
                 height : 300px;}

#troisiemeimage{display : block;
                 margin : left;
                 height : 300px;}



