h1 {
  color: beige;
}
body {
  width: 800px;
  margin: auto;
  background-color: #E0CDA9;
}
p {
  text-align: justify;
  font-family: "Gill sans", sans-serif;
}
.titre-special {
  color: orange;
}
