html {
  height: 100%;
}
body {
  background-color: cadetblue;
  height: 100%;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  font-size: 1.6em;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

main {
  font-family: "Trebuchet MS", sans-serif;
  background-color: white;
  /*reduire la largeur du corps de la page*/
  width: 70%;
  /*margin-auto:placer le corps de la page au milieu
  margin:écart entre le bord et l'extérieur*/
  margin: auto;
  height:100%;
}
main hr {
  width: 90%;
  border: 0.1px dashed;
}

nav a {
  text-decoration: none;
  color: black
}
nav ul {
  display: flex;
  /*ligne en bas de la nav*/
  border-bottom: 1px solid black;
}
nav ul li {
  width: 34%;
  text-align: center;
  border-right: 1px solid black;
  /*espace entre contenu et bord*/
  padding: 6px 0;
  font-size: 1.1em;
}
/*last-child: dernier element de quoi que ce soit (ici liste)*/
nav ul li:last-child {
  border-right: none;
}

.section1, .section2, .section3 {
  padding: 10px 10px;
}
section p {
  text-align: justify;
  height: 75px;
}
section h2 {
  font-size: 1.6em;
  text-shadow: 2px 2px 4px grey;
  color: cadetblue;
  margin-bottom: 20px;
}
.section2 img {
  margin: auto;
  display: block;
}
