h1 {
color: red;
}
h4 {
color: black;
}

body {
width: 950px;
margin: auto;
background-color: #b39ddb;
background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(50, 255, 0, 0.5)),
                  url("blanc.webp");
}

p {
color: black;
}
