h1  {
  color: black;
}
body {
  color: black;
  width: 800px;
  margin: auto;
  background-color:   #74b08c;
}
p {
  text-align: justify;
  font-family: "Gill Sans", sans-serif;
}
h2{
  background-clip: border-box;:
}
.titre-special{
  color: black;
  text-decoration: underline
}
