h1 {
    color: red ;
}
 body {
      width: 800px;
      margin: auto;
      background-color: #f0bebe;
}
body{      
      text-align: center;
}

li{ 
   list-style-position: inside;
}