h1{
   color: red;
}

body {
    width: 800px;
    margin: auto;
    background-color: #c0c0c0;
}


p {
   color: black;
}

h2 { 
    color: black;
}

h3 {
    color: black;
}

h4 {
    color: black;
}

li {
    color: black;
}

.petiteimage{
width: 1000px;