h1 {
  color: red;
}
body {
  width: 800px;
  margin: auto;
  background-color: #007aff;
  padding: 12px;

}
p{
  text-align: justify;
  font-family:"Gill Sans" , sans-serif;
}
html {
  background-color: #bed9f7;
}
a:link {
  color: #ef0c80;
  }
