h1 {
  color: red;
}

h2 {
  color:black;
}
h3 {
  color: black
}

body {
  width:900px;
  margin: auto;
  text-align: center;
  background: no-repeat url("poisson..jpeg");
}
ul {
  color: black
}
p {
  text-align:center;
  font-family: "arial","sans-serif"
}
a {
  color : gray
}
