body {
     width: 800px
     margin: auto;
     background-color: #9C9C9C
}

h1 {
 color: white;
 }

#monimage{
 display: block;
 margin: auto;
 height: 400px;
 }

li {
 color: white;
 }

p {
 color: white;
 }