h1  {
         color: red;
}
h2  {
  color:  #424242;
}
body {
  width: 800px;
  margin:  auto;
  background-color:  #bfbfbf;
}
p {
  text-align: justify;
  font-family: "Gill Sans", sans-serif;
}
