h1{
	color:#FF0041;text-shadow: 5px 5px #FFCAD8;font-family: "Gill Sans Extrabold", sans-serif;
	
}
	
h2{
	color:#FB3467;font-family: "Gill Sans Extrabold", sans-serif;
}
h3{
	color:#black;font-family: "Gill Sans Extrabold", sans-serif;
}
body {
	width: 1100px;
	margin: auto;
	background-color:white;

}

	



