h1 {
 color: pink;
 }

#cont{
 width: 800px;
 margin: auto;
padding: 10px 550px 30px 590px;
 background-color: #B65757;
 }

h3 {
 color: pink;
 }

li {
 color: purple;
 }

h2 {
 color: purple;
 }

p {
 color: pink;
 }

#monidentifiant {
 color: green;
 }

#monimage{
 display: block;
 margin: auto;
 height: 600px;
 }


#monimage{
 display: block;
 margin: auto;
 height: 400px;
 }

h5 {
 color: bleu;
 }


#header{
height:120px;
background:#FFC0CB ;
} 
