h1 {
	color: red;
	text-decoration: underline;
}
h2 {
	text-decoration: underline;
	color: green;
}
li {
	color: blue;
}

p {
	color: red;
}
tittle {
	width: 600px;
	margin: auto;
	background-color: #11111;
	text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}
#voiture {
	text-align: center;
	
}

#monimage{
	display: block;
	margin: auto;
	height: 400px;
}
