h1{	text-decoration: underline;}
h1{	color:limegreen;
}
h2{
	color:DeepSkyBlue;
}
h3{
color: Olive
}
li{
color: 	green;
}
p{
color: 	SaddleBrown;
}
body {
	width: 800px;
	margin: auto;
	background-color: #BCff98;

}

#monidentifiant {
  animation-duration: 6s;
  animation-name: glissement;
  animation-iteration-count: infinite;
}
@keyframes glissement {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h1 {
  animation-duration: 15s;
  animation-name: glissement;
  animation-iteration-count: infinite;
}
@keyframes glissement {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
#monimage{
	display: block;
	margin: auto;
	height: 400px;
}
.white-text-with-blue-shadow {
   text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
   color: white;
   font: 1.5em Georgia, serif;
}

.italic {
  font-style: italic;
}