h1 {
      color: purple
}
h3 {color: blue;
}

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

body{
  background-color: #E58080;
}
 header {
   background-image: url(./image/baner.jpg);
 }
(<embed src="chemin banniere flash" width= 900)
