h1 {
    color: black;
text-shadow: 1px 1px 2px red, 0 0 1em yellow, 0 0 0.2em yellow;
font-family: Georgia, serif;
text-decoration: underline;
}

body {
     width: 800px;
     margin: auto;
     background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
     url("../../media/examples/lizard.png");
}

p{
  color: blue;
}

li{
   color: blue;
list-style: square;
font-family: Georgia, serif;
}

h2{
   color: red;
}
#noah {
   color: black;
}

#monimage{
    display: block;
    margin: auto;
    height: 200px;
}
