body{
	background : url("fondecran.jpg") no-repeat center center fixed;
	background-size: 100%;
}
#contenu{
	max-width: 1200px;
	margin : 0 auto;
	padding : 10px;
	background-color: #ffffff;
	color: blue;
	font-family: serif;
	font-size: 1em;
	border-radius : 5px;
	box-shadow: 3px 3px 8px 0px #000000;
}

h1 {
	color: red;
	font-size: 1.5em;
	text-shadow: 1px 1px 2px blueviolet;

}
h2{
	color: blue;
	font-size: 1.3em;
	text-shadow: 1px 1px 2px blueviolet;
}

p{
	color: blue;
}

.lien_menu{
	color:blueviolet;
	;
}
.img_centre{
	display:block;
	margin: 0 auto;
	max-width : 100%;
	border-radius : 10px;
}
li{
	list-style: square;
}
.lien_haut{
	width:40px;
	float:right;
}