h1{color: 	LightSeaGreen;}
h1{text-shadow: #FC0 1px 0 10px;}
h1{text-decoration: underline;}
h1{animation-name: slides;}
h1{text-align: center;}


h2{color: DarkCyan;}
h2{text-decoration: underline;}


h3{color: #5F9EA0; }  

h4{color: IndianRed;}
h4{text-decoration: underline;}

p{text-align: start;}

body{ 
	width:800px; 
	margin:auto; 
	background-color: White;
	font-family: Georgia, serif;
	text-align: start;
	max-height: 50px;
	text-align: center;
}
#monidentifiant {
	 color: green;
}
#monimg{
width:300px;height:200px;}

#monimage{ 
width:300px;height:200p

}
#fond{background-color: Lavender}