h1 {
  color:  #2471a3  ;
}
h2 {
  color:  #D35400  ;
}
h3 {
  color: #D35400    ;
}
h4 {
  color: #D35400   ;
}
h6 {
  color: #D35400   ;
}
body {
  width: 800px;
  margin: auto;
  background-color: #17202A  ;
color: white;

}
